package app

import "github.com/Garv2003/TODOLIST/view/layout"

templ App(){
    @layout.Layout() {
            <h1 class="text-3xl font-bold text-center">To Do List</h1>
            <div class="mt-4">
                { children... }
            </div>
    }
}


